body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 60px;
  top: 0;
}

a.demeritText {
    fill: #ff707f;
    color: #ff707f;
}

a.mentionText {
    fill: #f7d7b2;
    color: #f7d7b2;
}

:after {
    white-space: pre;
}

:before {
    white-space: pre;
}

*:hover::before {
  content: data(strength),
  text-outline-width: 2,
  text-outline-color: #000,
  color: data(faveColor)
}

.navbar {
  z-index: 1;
  display: grid;
  max-width: 50px;
}

img {
  max-width: 50px;
}